

:root {
    --background: #000000;
    --navbar: #FB2576;
    --warning: #48C9B0; 
    --danger: #A3E4D7;
    --morad: #633974;
    --succes: #5B2C6F;
    --fondito: #F2FE98;
    --complementario: #34495E;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Anton', sans-serif;
}


header {
    background: var(--fondito);
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
}

.logo {
    height: 75%;
}


.navbar, .listas {
    display: flex;
    justify-content: center;
}

.listas {
    gap: 45px;
}

.listas a {
    color: var(--warning);
}

.listas li:first-child > a {
    color: var(--background);
}